pandas
pyarrow
pandas-gbq
numpy
psycopg2-binary
pyodbc
sqlalchemy
google-cloud-bigquery
google-cloud-storage
google-auth
gcsfs
python-dotenv
apache-airflow-providers-airbyte
dbt-core
dbt-postgres
airflow-dbt